body 
{
    /*width:1500px;*/
}

.div-main-content 
{

    top: 37px;
    position: absolute;
    margin-left: 350px;
    min-height: 500px;
    width: 1000px;
    box-sizing:border-box;
    height:100%;
 
}

#tab ul li {
    height:40px;

}

#tab ul li .dxtc-link
{
    margin-top:10px;
}

.chartOptionsPanel {
  background: #F9F9FA;
  border: solid 1px #D3D6DA;
  -moz-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.117188);
  -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.117188);
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.117188);
  width: auto;
  padding: 16px 24px 16px 24px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}